---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { formatTitle, formatDate } from "@/util/blog.util.ts";
import Temporal from "@components/Temporal.astro";
import Tags from "@components/Tags.astro";
import Fields from "@components/Fields.astro";
import ReadTime from "@components/ReadTime.astro";

export async function getStaticPaths() {
  const blog = await getCollection("Blog");
  return blog.map((post) => ({
    params: { slug: post.slug },
    props: { entry: post },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
const title = formatTitle(entry.id);
---

<Layout title={title}>
  <article>
    <h1>{title}</h1>

    <Fields>
      <Tags aria-label="Tags" data={entry.data.tags} />
      <Temporal type="text" icon={true} aria-label="Publish date">
        {formatDate(entry.data.date)}
      </Temporal>
      <ReadTime aria-label="Read time">
        {remarkPluginFrontmatter.minutesRead}
      </ReadTime>
    </Fields>
    <Content />
  </article>
</Layout>

<script is:inline>
  const handlePageReveal = async (e) => {
    if (e.viewTransition) {
      document.querySelector(`h1`).style.viewTransitionName = "name";

      await e.viewTransition.ready;
      document.querySelector(`h1`).style.viewTransitionName = "none";
    }
  };

  window.addEventListener("pagereveal", handlePageReveal);
</script>

<style>
  h1 {
    margin-block-end: 1rem;
  }

  .fields {
    margin-block-end: 3rem;
  }
</style>
