---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatTitle, formatDate } from "../../util/blog.util.ts";
import Temporal from "../../components/Temporal.astro";
import Tags from "../../components/Tags.astro";

export async function getStaticPaths() {
  const blog = await getCollection("Blog");
  return blog.map((post) => ({
    params: { slug: post.slug },
    props: { entry: post },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
const title = formatTitle(entry.id);
---

<Layout title={title}>
  <article>
    <h1>{title}</h1>
    <Tags list={entry.data.tags} />
    <Temporal type="text" icon={true}>
      {formatDate(entry.data.date)}
    </Temporal>
    <Content />
  </article>
</Layout>
