---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import Temporal from "@components/Temporal.astro";
import { formatTitle, formatExcerpt, formatDate } from "@/util/blog.util.ts";
import Divider from "@components/Divider.astro";
import Fields from "@components/Fields.astro";

const blog = await getCollection("Blog");

const sortedPosts = blog.sort(
  (left, right) => right.data.date.getTime() - left.data.date.getTime(),
);
const basePath = "/blog/";
---

<Layout title="Blog">
  <h1>Blog</h1>
  <article>
    {
      sortedPosts.map((post, index) => {
        return (
          <>
            <article>
              <a href={`${basePath}${post.slug}`} data-astro-prefetch>
                <h2 id={post.slug}>{formatTitle(post.id)}</h2>
              </a>
              <Fields>
                <Temporal type="text" icon={true} aria-label="Publish date">
                  {formatDate(post.data.date)}
                </Temporal>
              </Fields>
              <p>{formatExcerpt(post.body)}</p>
            </article>
            {index < sortedPosts.length - 1 && <Divider />}
          </>
        );
      })
    }
  </article>
</Layout>

<script is:inline define:vars={{ basePath }}>
  const handlePageSwap = async (e) => {
    if (e.viewTransition) {
      const target = new URL(e.activation.entry.url);
      const path = target.pathname;
      const id = path.replace(basePath, "").replace("/", "");
      document.querySelector(`h2#${id}`).style.viewTransitionName = "name";

      await e.viewTransition.finished;
      document.querySelector(`h2#${id}`).style.viewTransitionName = "none";
    }
  };

  window.addEventListener("pageswap", handlePageSwap);
</script>

<style>
  h2 {
    margin: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-style: var(--link-hover-decoration);
      text-decoration-thickness: var(--link-hover-decoration-thickness);
    }
  }

  .divider {
    margin-block: 3rem;
  }
</style>
