---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Temporal from "../components/Temporal.astro";
import { formatTitle, formatExcerpt, formatDate } from "../util/blog.util.ts";
import Divider from "../components/Divider.astro";
import Fields from "../components/Fields.astro";

const blog = await getCollection("Blog");

const sortedPosts = blog.sort(
  (left, right) => right.data.date - left.data.date,
);
---

<Layout title="Blog">
  <h1>Blog</h1>
  {
    sortedPosts.map((post, index) => {
      return (
        <>
          <article>
            <a href={`/blog/${post.slug}`}>
              <h2>{formatTitle(post.id)}</h2>
            </a>
            <Fields>
              <Temporal type="text" icon={true}>
                {formatDate(post.data.date)}
              </Temporal>
            </Fields>
            <p>{formatExcerpt(post.body)}</p>
          </article>
          {index < sortedPosts.length - 1 && <Divider />}
        </>
      );
    })
  }
</Layout>

<style>
  a {
    text-decoration-thickness: 20%;

    h2 {
      margin: 0;
    }
  }

  .divider {
    margin-block: 3rem;
  }
</style>
