---
import Layout from "../layouts/Layout.astro";
import Icon from "../components/Icon.astro";
import Search from "../assets/images/icons/Search.svg";
import InputButton from "../components/InputButton.astro";
import SearchDialog from "../components/SearchDialog.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { collectionNames } from "../util/collections.util.ts";
import type { CollectionType } from "../util/collections.util.ts";
import { formatTitle } from "../util/blog.util.ts";

const resolvedCollections = await Promise.all(
  collectionNames.map((c) =>
    getCollection<CollectionType, CollectionEntry<CollectionType>>(c),
  ),
);

const collections = resolvedCollections.reduce(
  (acc, curr, index) => {
    const key = collectionNames[index];
    acc[key] = curr;
    return acc;
  },
  {} as Record<CollectionType, CollectionEntry<CollectionType>[]>,
);

const collectionRenders = resolvedCollections
  .flat()
  .map(({ id, slug, body, collection }) => ({
    title: formatTitle(id),
    slug,
    body,
    collection,
  }));
---

<Layout title="Mind-map">
  <h1>Mind-map</h1>
  <InputButton id="search-button">
    <Icon
      src={Search.src}
      viewBox={`0 0 ${Search.width} ${Search.height}`}
    />Search
  </InputButton>
  <article>
    <output></output>
  </article>
  <SearchDialog id="search-dialog" collections={collections} />
</Layout>

<script>
  const searchButton = document.getElementById("search-button");
  const searchDialog = document.getElementById(
    "search-dialog",
  ) as HTMLDialogElement | null;

  if (searchButton && searchDialog) {
    searchButton.addEventListener("click", () => {
      searchDialog.showModal();
    });
  }
</script>

<script define:vars={{ collectionRenders }}>
  const searchDialog = document.getElementById("search-dialog");

  if (searchDialog) {
    searchDialog.addEventListener("close", () => {
      const { returnValue } = searchDialog;
      const output = document.querySelector("article");
      if (returnValue && output) {
        const [collection, slug] = returnValue.split("/");
        const entry = collectionRenders.find(
          (c) => c.collection === collection && c.slug === slug,
        );
        output.innerHTML = `<p>${entry.title}</p><pre>${entry.body}</pre>`;
      }
    });
  }
</script>

<style>
  #search-button {
    width: 300px;
    display: block;
    margin-block: 4rem;
    margin-inline: auto;
  }
</style>
