---
import Icon from "astro-svg-icon";
import Divider from "./Divider.astro";
import Facebook from "@/assets/images/icons/Facebook.svg";
import Github from "@/assets/images/icons/Github.svg";
import Instagram from "@/assets/images/icons/Instagram.svg";
import LinkedIn from "@/assets/images/icons/LinkedIn.svg";
import Mail from "@/assets/images/icons/Mail.svg";
import Youtube from "@/assets/images/icons/Youtube.svg";

const year = new Date().getFullYear();

const socials: Record<
  string,
  { icon: string; url: string; title: string; viewBox: string }
> = {
  github: {
    title: "Check me on Github",
    icon: Github.src,
    url: "https://github.com/karesztrk",
    viewBox: `0 0 ${Github.width} ${Github.height}`,
  },
  email: {
    title: "Send me a mail",
    icon: Mail.src,
    url: "mailto:torok.karoly.krisztian@gmail.com",
    viewBox: `0 0 ${Mail.width} ${Mail.height}`,
  },
  linkedin: {
    title: "Check my profile on LinkedIn",
    icon: LinkedIn.src,
    url: "https://www.linkedin.com/in/k%C3%A1roly-t%C3%B6r%C3%B6k-17541b80/",
    viewBox: `0 0 ${LinkedIn.width} ${LinkedIn.height}`,
  },
  instagram: {
    title: "My activity on Instagram",
    icon: Instagram.src,
    url: "https://www.instagram.com/karesztrk/",
    viewBox: `0 0 ${Instagram.width} ${Instagram.height}`,
  },
  youtube: {
    title: "Things i watch on Youtube",
    icon: Youtube.src,
    url: "https://www.youtube.com/user/r0nan87",
    viewBox: `0 0 ${Youtube.width} ${Youtube.height}`,
  },
  facebook: {
    title: "My Facebook profile",
    icon: Facebook.src,
    url: "https://www.facebook.com/karoly.torok.9/",
    viewBox: `0 0 ${Facebook.width} ${Facebook.height}`,
  },
};
---

<footer>
  <Divider />
  <div class="socials">
    {
      Object.values(socials).map(({ title, icon, url, viewBox }) => (
        <a href={url} rel="me">
          <span class="visually-hidden">{title}</span>
          <Icon src={icon} viewBox={viewBox} />
        </a>
      ))
    }
  </div>
  <p>
    View the source on <a href="https://github.com/karesztrk/portfolio/"
      >Github</a
    >. Hosted on <a href="https://www.netlify.com/">Netlify</a>. Built with <a
      href="https://astro.build/">Astro</a
    >.
  </p>
  <p class="copyright">Károly Török &copy; {year}</p>
</footer>

<style>
  footer {
    container: footer / inline-size;
    grid-column: content;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-block: 8px;

    > .divider {
      margin-block: 0.5rem 1rem;
    }

    > p {
      margin: 0;
      text-align: center;
      font-size: 0.75rem;

      > a {
        color: var(--color-text);
        text-decoration: underline;
      }
    }

    > .socials {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-block: 0.5rem;

      > a {
        font-size: 1.25rem;
        line-height: 1;
      }

      & .icon {
        vertical-align: middle;
        text-align: center;
        color: var(--color-title);
      }
    }
  }
</style>
