---
import type { HTMLAttributes } from "astro/types";
import { getFileName } from "./Icon.util";

interface Props extends HTMLAttributes<"svg"> {
  src: string;
  reference?: string;
  inline?: boolean;
  title?: string;
}

const baseClass = "icon";
const {
  viewBox = "0 0 24 24",
  width = "1em",
  height = "1em",
  class: className,
  role = "presentation",
  src,
  reference,
  inline,
  title,
  ...rest
} = Astro.props;

const href = `${src}#${reference || getFileName(src)}`;
---

<svg
  class:list={[baseClass, { [`${baseClass}-inline`]: inline }, className]}
  viewBox={viewBox}
  width={width}
  height={height}
  role={role}
  {...rest}
>
  <use href={href}></use>
  { title && <title>{title}</title> }
</svg>
