---
import type { HTMLAttributes } from "astro/types";
import Icon from "astro-svg-icon";
import TagIcon from "@/assets/images/icons/Tag.svg";

interface Props extends HTMLAttributes<"div"> {
  data?: string[];
}

const {
  "aria-label": ariaLabel,
  class: className,
  data = [],
  ...props
} = Astro.props;
---

<div class:list={["tags", className]} {...props}>
  <Icon src={TagIcon.src} viewBox={`0 0 ${TagIcon.width} ${TagIcon.height}`} />
  {ariaLabel && <span class="visually-hidden">{ariaLabel}</span>}
  <ul>
    {data.map((entry) => <li>{entry}</li>)}
  </ul>
</div>

<style>
  .tags {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;

    .icon {
      height: 1lh;
    }

    > ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      text-transform: uppercase;
      gap: 0.75em;
      padding: 0;
      margin: 0;

      color: var(--color-tertiary);
      font-size: 1rem;
      font-variation-settings: "MONO" 1;
      vertical-align: middle;

      > li {
        margin: 0;
        list-style: none;
      }
    }
  }
</style>
